body{
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code{
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a{
  color: black;
  text-decoration: none;
}
button {
  background-color: #407107;
  border-radius: 23px;
  border: none;
  color: white;
  display: inline-block;
  font-size: 10px;
  padding: 9px 60px;
  text-align: center; 
}
button ,input {
  outline: none;
}
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20%;
}
.footer a {
  color: white
}
.heading {
  font-family: 'Oswald';
  color: #14140C;
  font-size: 1.3em;
  letter-spacing: 1px;
  line-height: 1.5em;
  font-variant-caps: all-small-caps;
}
.headingWhite {
  font-family: 'Oswald';
  color: white;
  font-size: 1.3em;
  letter-spacing: 1px;
  line-height: 1.5em;
  font-variant-caps: all-small-caps;
}
hr{ 
  height: 1px;
  background-color:#fc461e; 
  border: none;
}
h6{
  color: #fc461e;
}
p{
  color: #14140C;
  font-size: 0.8em;
  font-weight: 100;
  letter-spacing: 0.09em;
  line-height: 1.7em;
}
.quote {
  font-family: 'Lato';
  font-size: 0.7em;
  color: #fc461e;
  margin-left: '2em';
  margin-right: '2em';
}
.title {
  font-family: 'Oswald';
  font-size: 69px;
  letter-spacing: -1px;
  line-height: 69px;
  text-align: right;
  color: #fc461e;
}
.title span {
  font-family: 'Oswald';
  display: block;
}
ul{
  list-style: none;
}













